name: Run Kubra CLI and Commit JSON Output

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  run_kubra_and_commit:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"

      - name: Install Kubra
        run: |
          pip install kubra

      - name: Run Kubra and Create JSON Output
        run: |
          output_file="dte_$(date +'%Y%m%d%H%M%S').json"
          kubra $INSTANCE_ID $VIEW_ID > "$output_file"
        env:
          INSTANCE_ID: ${{ vars.INSTANCE_ID }}
          VIEW_ID: ${{ vars.VIEW_ID }}

      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          message: 'update'
